@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.chart-item-bg {
  stroke: #ddd;
}
.chart-item-0 {
  stroke: #c33d3e;
}
.chart-item-1 {
  stroke: #df9e26;
}
.chart-item-2 {
  stroke: #419fc3;
}
body {
  font-family: "Open Sans", serif;
  background-color: #264c6e;


  .box-row-no-border {
    height: 80px;
    display: flex;
    align-items: center;
  }

  
  .box-row-item {
    flex-grow: 1;
    list-style: none;
    color: #d1d1d1;
    
    &:nth-child(1){
      padding-left: 30px;
    }
  
    &:nth-child(1) {
      flex-grow: 1.5;
      max-width: 55%;
      // background-color: aqua;
    }
  
    .box-row-item-value {
      font-size: 1.2em;
      margin: 3px 0;
  
      &-v2 {
        font-size: 0.9em;
      }
    }
  
    .box-row-item-desc {
      font-size: 0.8em;
  
      &-v2 {
        font-size: 1.4em;
      }
    }
  }
}
