@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.chart-item-bg {
  stroke: #ddd;
}
.chart-item-0 {
  stroke: #c33d3e;
}
.chart-item-1 {
  stroke: #df9e26;
}
.chart-item-2 {
  stroke: #419fc3;
}
body {
  font-family: "Open Sans", serif;
  background-color: #264c6e;
}
