<div class="box-row-double" style="text-align: center;">
    <svg viewbox="0 0 100 100">

        <circle cx="75" cy="75" r="70" fill="transparent" stroke-width="10" stroke="#c33d3e"
        stroke-dashoffset="50.3"/>
    
        <circle cx="75" cy="75" r="70" fill="transparent" stroke-width="10" stroke="#df9e26" stroke-dasharray="200.2" stroke-dashoffset="50.3"/>
    
        <circle cx="75" cy="75" r="70" fill="transparent" stroke-width="10" stroke="#419fc3" stroke-dasharray="360.2" stroke-dashoffset="50.3"/>
    
    </svg>
</div>
